
{% extends "homeBasePage.html" %} 

{% block title %} Limak Portal {% endblock %} 

{% block sidebar2 %} 
{% include "sidebar.html" %}
{% endblock %}


{% block content %} 


	                    <!-- CONTENT -->
                         <div class="content-wrapper">
			
                <div class="content custom-scrollbar">

                    <div id="e-commerce-products" class="page-layout carded full-width">

                        <div class="top-bg bg-secondary"></div>

                        <!-- CONTENT -->
                        <div class="page-content-wrapper">

                            <!-- HEADER -->
                            <div class="page-header light-fg row no-gutters align-items-center justify-content-between">

                                <!-- APP TITLE -->
                                <div class="col-12 col-sm">

                                    <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">
                                        <div class="logo-icon mr-3 mt-1">
                                            <i class="icon-cube-outline s-6"></i>
                                        </div>
                                        <div class="logo-text">
                                            <div class="h4">Products</div>
                                            <div class="">Total Products: 20</div>
                                        </div>
                                    </div>

                                </div>
                                <!-- / APP TITLE -->

                                <!-- SEARCH -->
                              
                                  

                            </div>
                            <!-- / HEADER -->

                            <div class="page-content-card">

                                <table id="e-commerce-products-table" class="table dataTable">
                                   <thread>
            					<th>FirstName</th>
          						 <th>LastName</th>
            					<th>Güncelle</th>
       							 </thread>
        					<tbody>
          					 {% for item in items %}
          					 <tr>
            			   <td>{{ item.FirstName }}</td>
            			   <td>{{ item.LastName }}</td>
             			  <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/edit/{{item.LastName}}" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
           					</tr>
           				{% endfor %}
        					</tbody>
        					</table>
                            </div>
                        </div>
                        <!-- / CONTENT -->
                    </div>
				<script type="text/javascript" src="../assets/js/apps/e-commerce/products/products.js"></script>

               
            </div>

						
{% endblock %}

