<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler hidden-phone">
                </div>
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <form class="sidebar-search" action="extra_search.html" method="POST">
                    <div class="form-container">
                        <div class="input-box">
                            <a href="javascript:;" class="remove">
                            </a>
                            <input type="text" placeholder="Search..."/>
                            <input type="button" class="submit" value=" "/>
                        </div>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            
            <li class="active ">
                <a href="index.html">
                    <i class="fa fa-home"></i>
                    <span class="title">
                        Anasayfa
                    </span>
                </a>
            </li>
      
            <li>
                <a href="javascript:;">
                    <i class="fa fa-table"></i>
                    <span class="title">
                       Personel Cv
                    </span>
                    <span class="selected">
                    </span>
                    <span class="arrow open">
                    </span>
                </a>
                <ul class="sub-menu">
                    <li class="active">
                        <a href="form_controls.html">
                             Cv 1
                        </a>
                    </li>
            
                    <li>
                        <a href="form_editable.html">
                            <span class="badge badge-roundless badge-warning">
                                new
                            </span>
                            Cv 2
                        </a>
                    </li>
                    <li>
                        <a href="form_wizard.html">
                             Cv 3
                        </a>
                    </li>
                    <li>
                        <a href="form_validation.html">
                             Cv 4
                        </a>
                    </li>
                    <li>
                        <a href="form_image_crop.html">
                            <span class="badge badge-roundless badge-important">
                                new
                            </span>
                            Cv 5
                        </a>
                    </li>
                   
                </ul>
            </li>
           
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->